TEMPLATE_DIR=../../templates
TEMPLATE_VPN=${TEMPLATE_DIR}/vpn.yaml

VPN_PUID=1000
VPN_PGID=1000
VPN_TZ=
VPN_SERVERURL=
VPN_SERVERPORT=51820
VPN_PEERS=2
VPN_PEERDNS=
VPN_INTERNAL_SUBNET=10.7.0.0
VPN_ALLOWEDIPS=0.0.0.0/0
VPN_PERSISTENTKEEPALIVE_PEERS=all
VPN_LOG_CONFS=true

