STORAGE_MINIO_ROOT_USER= 
STORAGE_MINIO_ROOT_PASSWORD=
STORAGE_MINIO_BROWSER_REDIRECT_URL=
STORAGE_MINIO_USER=1000:1000

TEMPLATE_DIR=../../templates
TEMPLATE_STORAGE_MINIO=${TEMPLATE_DIR}/storage/minio.yaml

