CA_STEPPATH=/home/step
CA_DOCKER_STEPCA_INIT_NAME=StepCA_Local
CA_DOCKER_STEPCA_INIT_DNS_NAMES=ca
CA_DOCKER_STEPCA_INIT_ADDRESS=:5739

CRT_STEP_INIT_NAME=STD_CRT
CRT_STEP_INIT_DNS=
CRT_STEP_INIT_SAN="localhost"
CRT_STEP_CA_URL=https://ca:5739
CRT_STEP_FINGERPRINT=
CRT_STEP_KID=
CRT_STEP_RENEW_PERIOD=12h

PROVISIONER_PASSWORD_FILE=~/.step/secrets/password

TEMPLATE_DIR=../../templates
TEMPLATE_STEP=${TEMPLATE_DIR}/step.yaml


