STEP_CA_STEPPATH=/home/step
STEP_CA_DOCKER_STEPCA_INIT_NAME=StepCA_Local
STEP_CA_DOCKER_STEPCA_INIT_DNS_NAMES=ca
STEP_CA_DOCKER_STEPCA_INIT_ADDRESS=:5739

STEP_CRT_STEP_INIT_NAME=STD_CRT
STEP_CRT_STEP_INIT_DNS=
STEP_CRT_STEP_INIT_SAN="localhost"
STEP_CRT_STEP_CA_URL=https://ca:5739
STEP_CRT_STEP_FINGERPRINT=
STEP_CRT_STEP_KID=
STEP_CRT_STEP_RENEW_PERIOD=12h

STEP_PROVISIONER_PASSWORD_FILE=~/.step/secrets/password

TEMPLATE_DIR=../../templates
TEMPLATE_STEP_CA=${TEMPLATE_DIR}/step/ca.yaml
TEMPLATE_STEP_CRT=${TEMPLATE_DIR}/step/crt.yaml


