TEMPLATE_DIR=../../templates
TEMPLATE_WG_SERVER=${TEMPLATE_DIR}/wireguard/server.yaml
TEMPLATE_WG_CLIENT=${TEMPLATE_DIR}/wireguard/client.yaml
TEMPLATE_SOCKS5_DANTE=${TEMPLATE_DIR}/socks5/dante.yaml

WG_CLIENT_PUID=1000
WG_CLIENT_PGID=1000
WG_CLIENT_TZ=
WG_CLIENT_SERVERURL=
WG_CLIENT_SERVERPORT=51820
WG_CLIENT_PEERDNS=
WG_CLIENT_INTERNAL_SUBNET=10.7.0.0
WG_CLIENT_ALLOWEDIPS=0.0.0.0/0
WG_CLIENT_PERSISTENTKEEPALIVE_PEERS=all
WG_CLIENT_LOG_CONFS=true

WG_SERVER_PUID=1000
WG_SERVER_PGID=1000
WG_SERVER_TZ=
WG_SERVER_SERVERURL=
WG_SERVER_SERVERPORT=51820
WG_SERVER_PEERS=2
WG_SERVER_PEERDNS=
WG_SERVER_INTERNAL_SUBNET=10.7.0.0
WG_SERVER_ALLOWEDIPS=0.0.0.0/0
WG_SERVER_PERSISTENTKEEPALIVE_PEERS=all
WG_SERVER_LOG_CONFS=true

