DNS_BIND9_USER=ubuntu

DNS_PIHOLE_TZ='America/Guatemala'
DNS_PIHOLE_FTLCONF_webserver_api_password=secret
DNS_PIHOLE_FTLCONF_dns_listeningMode=ALL

TEMPLATE_DIR=../../templates
TEMPLATE_DNS_BIND9=${TEMPLATE_DIR}/dns/bind9.yaml
TEMPLATE_DNS_PIHOLE=${TEMPLATE_DIR}/dns/pihole.yaml

