CONSOLE_PUID=1000
CONSOLE_PGID=1000
CONSOLE_TZ=Etc/UTC
CONSOLE_MONGO_USER=unifi
CONSOLE_MONGO_PASS=secret
CONSOLE_MONGO_HOST=db
CONSOLE_MONGO_PORT=27017
CONSOLE_MONGO_DBNAME=unifi
CONSOLE_MONGO_AUTHSOURCE=admin
CONSOLE_MEM_LIMIT=1024
CONSOLE_MEM_STARTUP=1024
CONSOLE_MONGO_TLS=

DB_MONGO_INITDB_ROOT_USERNAME=root
DB_MONGO_INITDB_ROOT_PASSWORD=password
DB_MONGO_USER=${CONSOLE_MONGO_USER}
DB_MONGO_PASS=${CONSOLE_MONGO_PASS}
DB_MONGO_DBNAME=${CONSOLE_MONGO_DBNAME}
DB_MONGO_AUTHSOURCE=${CONSOLE_MONGO_AUTHSOURCE}

TEMPLATE_DIR=../../templates
TEMPLATE_UNIFI=${TEMPLATE_DIR}/unifi.yaml


