CODE_SERVER_PUID=1000
CODE_SERVER_PGID=1000
CODE_SERVER_TZ=Etc/UTC
CODE_SERVER_HASHED_PASSWORD=
CODE_SERVER_SUDO_PASSWORD_HASH=
CODE_SERVER_DEFAULT_WORKSPACE=/config/workspace

TEMPLATE_DIR=../../templates
TEMPLATE_VSCODE=${TEMPLATE_DIR}/vscode.yaml
