VSCODE_SERVER_PUID=1000
VSCODE_SERVER_PGID=1000
VSCODE_SERVER_TZ=Etc/UTC
VSCODE_SERVER_HASHED_PASSWORD=
VSCODE_SERVER_SUDO_PASSWORD_HASH=
VSCODE_SERVER_DEFAULT_WORKSPACE=/config/workspace

TEMPLATE_DIR=../../templates
TEMPLATE_VSCODE_SERVER=${TEMPLATE_DIR}/vscode/server.yaml
